# needed to make `nuxt` work with pnpm
shamefully-hoist=true
strict-peer-dependencies=false
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=false # This prevents the examples to have the `workspace:` prefix
