---
import { getCollection } from "astro:content";
import Link from "./Link.astro";

const posts = await getCollection("posts", ({ data }) => data.published).then((posts) => posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()).slice(0, 3));
---

<header>
  <nav class="flex flex-wrap items-center justify-between">
    <Link href="/" class="transition-transform active:scale-95">
      Astro Example
    </Link>

    <div class="flex items-center gap-4 sm:gap-6">
      {posts.map((post) => (
        <Link class="transition-transform active:scale-95" href={`/${post.slug}`}>
          {post.data.shortTitle}
        </Link>
      ))}
    </div>
  </nav>
</header>
