html, body , #__nuxt {
  height: 100vh;
  margin: 0;
  padding: 0;
  @apply: font-sans;
}

html.dark {
  background: #111;
  color: white;
  color-scheme: dark;
}

#__nuxt {
  @apply: max-w-4xl lg:!mx-auto !mx-4;
}
