---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import PostCard from "../components/PostCard.astro";

const posts = await getCollection("posts", ({ data }) => data.published).then((posts) => posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()));

export const prerender = true;
---

<PageLayout title="astro example" description="astro example to demonstrate the lesetid package">
  <h1 class="mb-6 text-neutral-800 dark:text-neutral-100 font-semibold my-8 text-2xl">Posts</h1>
  <article>
    {
      posts.length > 0 ? (
        <ul class="grid auto-cols-max grid-cols-1 mt-4 gap-4 sm:grid-cols-2 sm:gap-3">
          {posts.map((post) => (
            <li>
              <PostCard post={post} />
            </li>
          ))}
        </ul>
      ) : (
        <p>I didn't write any public available posts yet.</p>
      )
    }
  </article>
</PageLayout>
