@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased touch-manipulation scroll-smooth text-base;
  text-rendering: optimizeLegibility;
}

* {
  @apply outline-black selection:bg-neutral-200 selection:text-black;
}

body {
  @apply text-neutral-900 bg-neutral-100 px-0 md:px-4 py-4 md:py-8 max-w-3xl md:mx-auto relative min-h-screen text-sm md:text-base flex flex-col;
}

.callout {
  --callout-note-color: #0969da;
  --callout-tip-color: #1a7f37;
  --callout-warning-color: #9a6700;
  --callout-caution-color: #d1242f;
  --callout-important-color: #8250df;

  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: 0.25em solid #888;
  @apply font-sans;

  & .callout-title {
    display: flex;
    font-weight: 600;
    align-items: center;
    line-height: 1;
    margin-bottom: 1.25em;

    & .icon {
      margin-right: 0.5rem;
      display: inline-block;
      overflow: visible !important;
      vertical-align: text-bottom;
      fill: currentColor;
    }
  }

  &.callout-note {
    border-left-color: var(--callout-note-color);

    & .callout-title {
      color: var(--callout-note-color);
    }
  }

  &.callout-tip {
    border-left-color: var(--callout-tip-color);

    & .callout-title {
      color: var(--callout-tip-color);
    }
  }

  &.callout-warning {
    border-left-color: var(--callout-warning-color);

    & .callout-title {
      color: var(--callout-warning-color);
    }
  }

  &.callout-danger {
    border-left-color: var(--callout-caution-color);

    & .callout-title {
      color: var(--callout-caution-color);
    }
  }

  &.callout-important {
    border-left-color: var(--callout-important-color);

    & .callout-title {
      color: var(--callout-important-color);
    }
  }
}

.callout > :first-child {
  margin-top: 0;
}

.callout > :last-child {
  margin-bottom: 0;
}

.prose {
  @apply [&>:not(:last-child)]:mb-6;

  & p:not([class*="callout"] p) {
    @apply my-6 leading-7;
  }

  & h1,
  & h2,
  & h3 {
    @apply text-neutral-900 font-semibold my-8;
  }

  & h1 {
    @apply text-2xl;
  }

  & h2 {
    @apply text-xl;
  }

  & h3 {
    @apply text-lg;
  }

  & strong {
    @apply font-medium text-neutral-900;
  }

  & ul {
    @apply list-disc list-outside pl-4;
  }

  & ul > li {
    @apply mb-2;
  }

  & img {
    @apply mx-auto rounded my-6;
  }
}

.markdown {
  & a:not([class*="not-markdown"] a) {
    @apply text-blue-600 underline underline-offset-2;
  }
}
