---
import PageLayout from "../layouts/page-layout.astro";
---

<PageLayout title="lesetid | 404" description="Page not found">
  <div class="h-full flex items-center justify-center flex-col">
    <h1 class="text-8xl text-accent">404</h1>
    <p class="text-2xl mb-8">Page not found</p>
    <a href="/" class="hover:text-accent">Go back</a>
  </div>
</PageLayout>
