---
import { Icon } from "astro-icon/components";
---

<header>
  <nav class="flex items-center justify-between mb-8 text-sm">
    <h1 class="text-xl">Lesetid</h1>
    <div class="flex space-x-4">
      <a href="/" class="hover:text-accent transition-colors duration-200">
        <Icon name="ph:github-logo-duotone" size="1.5rem" />
      </a>
    </div>
  </nav>
</header>
