---
import { Icon } from "astro-icon/components";
import { getTexts } from "../lib/texts";

const texts = await getTexts();
---

<div class="border-card-border flex flex-wrap justify-between gap-2 rounded border-2 p-2">
  <div class="flex items-center gap-2">
    <Icon name="ph:alarm-duotone" size="24" />
    <span id="reading-time">0 min</span>
  </div>
  <select
    id="text-select"
    aria-label="Select a article to look at."
    class="bg-background rounded border-2 border-card-border px-2 pr-8 py-1 text-sm outline-none transition-colors duration-200 focus:border-accent focus:ring-2 focus:ring-accent"
  >
    <option value="" disabled selected>Select a text</option>
    {texts.map((text) => <option value={text.file}>{text.file}</option>)}
  </select>
</div>

<script id="texts" data-texts={JSON.stringify(texts)}></script>

<script>
  const textSelect = document.getElementById("text-select") as HTMLSelectElement;

  const textarea = document.querySelector("textarea") as HTMLTextAreaElement;

  const textsElement = document.getElementById("texts");

  if (textsElement == null) {
    // eslint-disable-next-line no-alert
    alert("no texts found");
    throw new Error("no texts found");
  }

  const texts: { file: string; content: string }[] = JSON.parse(textsElement.getAttribute("data-texts") as string);

  textSelect.addEventListener("change", async (e) => {
    if (e.target == null || !("value" in e.target) || typeof e.target.value !== "string") {
      return;
    }

    const file = e.target.value;

    const found = texts.find((text) => text.file === file);

    if (found == null) {
      return;
    }

    textarea.value = found.content;
    (window as any).__UPDATE_READING_TIME(found.content);
  });
</script>
