---
import { Icon } from "astro-icon/components"
import Link from "../ui/Link.astro"
import {
  url,
} from "../../../.lesetid/example.json"
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="px-4">
  <nav class="flex flex-wrap items-center justify-between">
    <div class="flex items-center gap-2">
      <Link href="/" class="transition-transform active:scale-95">Astro Example</Link>
    </div>

    <div class="flex items-center gap-4 sm:gap-6">
      <Link class="transition-transform active:scale-95" href="/">Posts</Link>
      <Link class="transition-transform active:scale-95" href={`https://github.com/luxass/lesetid/blob/main${url}`}>
        <Icon name="mdi:github" class="size-5" />
      </Link>
      <ThemeIcon />
    </div>
  </nav>
</header>
