@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased touch-manipulation scroll-smooth text-base;
  text-rendering: optimizeLegibility;
}

body {
  @apply text-neutral-800 bg-neutral-100 dark:text-neutral-300 dark:bg-neutral-900 py-8 min-h-screen max-w-2xl md:!mx-auto !mx-4 font-sans flex flex-col justify-between min-h-[100dvh];
}

.prose {
  @apply [&>:not(:last-child)]:mb-6;

  & p {
    @apply leading-relaxed;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply text-neutral-800 dark:text-neutral-100 font-semibold my-8;
  }

  & h1 {
    @apply text-2xl;
  }

  & h2 {
    @apply text-xl;
  }

  & h3 {
    @apply text-lg;
  }

  & h4 {
    @apply text-base;
  }

  & h5 {
    @apply text-sm;
  }

  & h6 {
    @apply text-xs;
  }

  & strong {
    @apply font-medium text-neutral-800 dark:text-neutral-100;
  }

  & img {
    @apply mx-auto rounded my-6;
  }
}

.codeblock {
  & code::before, & code::after {
    content: "`";
  }

  pre code::before,
  pre code::after {
    content: none;
  }

  pre {
    --at-apply: "[tab-size:2] overflow-x-auto rounded p-4 text-sm [&code]:(text-base after:content-none before:content-none) [letter-spacing:unset]";
  }
}
