html {
  @apply antialiased touch-manipulation scroll-smooth text-base;
  text-rendering: optimizeLegibility;
}

* {
  @apply dark:outline-white selection:dark:bg-neutral-700 selection:dark:text-white outline-black selection:bg-neutral-200 selection:text-black;
}

body {
  @apply text-neutral-900 bg-neutral-100 dark:text-neutral-300 dark:bg-neutral-900 px-0 md:px-4 py-4 md:py-8 max-w-3xl md:mx-auto relative min-h-screen text-sm md:text-base flex flex-col;
  font-family: "DM Sans", "DM Sans Fallback";
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span:not(button span) {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }

  .callout {
    --callout-note-color: #2f81f7;
    --callout-tip-color: #3fb950;
    --callout-warning-color: #d29922;
    --callout-caution-color: #f85149;
    --callout-important-color: #a371f7;
  }
}

.callout {
  --callout-note-color: #0969da;
  --callout-tip-color: #1a7f37;
  --callout-warning-color: #9a6700;
  --callout-caution-color: #d1242f;
  --callout-important-color: #8250df;

  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: 0.25em solid #888;
  @apply font-sans;

  & .callout-title {
    display: flex;
    font-weight: 600;
    align-items: center;
    line-height: 1;
    margin-bottom: 1.25em;

    & .icon {
      margin-right: 0.5rem;
      display: inline-block;
      overflow: visible !important;
      vertical-align: text-bottom;
      fill: currentColor;
    }
  }

  &.callout-note {
    border-left-color: var(--callout-note-color);

    & .callout-title {
      color: var(--callout-note-color);
    }
  }

  &.callout-tip {
    border-left-color: var(--callout-tip-color);

    & .callout-title {
      color: var(--callout-tip-color);
    }
  }

  &.callout-warning {
    border-left-color: var(--callout-warning-color);

    & .callout-title {
      color: var(--callout-warning-color);
    }
  }

  &.callout-danger {
    border-left-color: var(--callout-caution-color);

    & .callout-title {
      color: var(--callout-caution-color);
    }
  }

  &.callout-important {
    border-left-color: var(--callout-important-color);

    & .callout-title {
      color: var(--callout-important-color);
    }
  }
}

.callout > :first-child {
  margin-top: 0;
}

.callout > :last-child {
  margin-bottom: 0;
}

.markdown {
  & a:not([class*="not-markdown"] a) {
    @apply text-blue-600 dark:text-blue-400 underline underline-offset-2;
  }
}
