---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import PageLayout from "../../layouts/PageLayout.astro"
import Code from "../../components/content/mdx/Code.astro"
import Link from "../../components/ui/Link.astro"
import Pre from "../../components/content/mdx/Pre.astro"

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { handle: post.slug },
    props: { post },
  }))
}

interface Props {
  post: CollectionEntry<"posts">
}

const {
  post: {
    data: { title, description },
    render,
  },
} = Astro.props

const { Content, remarkPluginFrontmatter } = await render()

export const prerender = true;
---

<PageLayout
  title={title}
  description={description}
>
  <article class="tracking-wide prose dark:prose-invert markdown">
    <div class="border border-neutral-300 dark:border-neutral-700 rounded p-3 gap-3">
      This post will approximately take <strong>{remarkPluginFrontmatter.estimation.text}</strong> to read.
    </div>
    <h1 class="mt-8">{title}</h1>
    <Content
      components={{
        code: Code,
        a: Link,
        pre: Pre,
      }}
    />
  </article>
</PageLayout>
