---
import Link from "../components/ui/Link.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="404 | astro-example.lesetid.dev"
  description="404 | astro-example.lesetid.dev"
  class:list={["flex flex-col items-center justify-center"]}
>
    <h1 class="text-8xl text-blue-500">404</h1>
    <p class="mb-8 text-2xl mt-0">Page not found</p>
    <Link href="/">Go back</Link>
</PageLayout>
