---
import { getCollection } from "astro:content"
import PageLayout from "../layouts/PageLayout.astro"
import PostCard from "../components/content/PostCard.astro"

const posts = await getCollection("posts", ({ data }) => data.published).then((posts) => posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()))

export const prerender = true;
---

<PageLayout title="posts | astro example" description="astro example to demonstrate the lesetid package">
  <article class="prose">
    <h1>Posts</h1>
    {
      posts.length > 0 ? (
        <div class="grid auto-cols-max grid-cols-1 mt-4 gap-4 sm:grid-cols-2 sm:gap-3">
          {posts.map((post) => (
            <PostCard post={post} />
          ))}
        </div>
      ) : (
        <p>No public posts available yet.</p>
      )
    }
  </article>
</PageLayout>
